section#welcome-section {
	position: relative;
}

.welcome-section-inner {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	z-index: 2;
	color: #cfcfcf;
}

video.video-background {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bg-overlay {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
	height: 100%;
	width: 100%;
}
