* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* body {
	font-family: "Playfair Display", serif;
} */

a {
	text-decoration: none;
	color: inherit;
}

img {
	width: 100%;
	height: auto;
}

#header {
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(243, 237, 233);
	top: 0;
	position: sticky;
	z-index: 3;
}

ul,
li {
	list-style: none;
}

nav,
.footer-wrapper {
	max-width: 1200px;
	margin: 0 auto;
}

main section {
	max-width: 1200px;
	margin: 0 auto;
}

main .founder-section,
.show-section,
#welcome-section,
.footer {
	max-width: 100%;
}

.navbar {
	width: 100%;
}

#first-section,
#carousel-section {
	display: flex;
	flex-direction: column;
}

#first-section {
	align-items: center;
	justify-content: center;
}

#welcome-section {
	height: 100vh;
	width: 100%;
}

#second-section {
	margin-bottom: 50px;
}

h2.heading-2 {
	margin: 20px 0;
	font-size: 46px;
	text-align: center;
}

.full {
	width: 100%;
}

.flex-boxes {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.img-box {
	background: #6b3939;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #aaa;
	border-radius: 20px;
	overflow: hidden;
	max-width: 31%;
	margin-bottom: 10px;
}

.section-padding {
	padding: 100px 15px 40px 15px;
}

.footer {
	padding: 10px 0;
	font-size: 40px;
}

.footer {
	background-color: #d9d9d9;
}

.footer .nav-logo,
.footer .nav-link {
	font-size: 0.3em;
}

.footer .nav-link img {
	max-width: 100%;
	width: 30px;
	height: 30px;
}

.footer .footer-item {
	margin-left: 1rem;
}

.footer-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 40px;
	font-weight: 700;
	/* font-style: italic; */
}

/* FORM INPUT STYLING */

form {
	width: 500px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input-field,
.textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.textarea {
	height: 100px;
}

label {
	display: block;
	margin-bottom: 5px;
}

label[for="message"] {
	position: relative;
	top: -95px;
}

.input-field[type="radio"] {
	width: 15px;
	height: 15px;
	margin-right: 5px;
}

.input-field[type="checkbox"] {
	width: 15px;
	height: 15px;
	margin-right: 5px;
}

.button {
	display: inline-block;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	background-color: #000;
	color: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;
}

.field-group {
	margin-bottom: 20px;
}

.field-group label {
	display: inline-block;
	width: 200px;
}

.field-group .input-field,
.field-group .textarea {
	display: inline-block;
	width: 250px;
}

.field-group .input-field[type="radio"],
.field-group .input-field[type="checkbox"] {
	display: inline-block;
	width: 15px;
	height: 15px;
}

.text-center {
	text-align: center;
}

.form-header {
	font-size: 30px;
	margin-bottom: 20px;
}

.width-500px {
	width: 500px;
}
.width-300px {
	width: 300px;
}
.my-10px {
	margin: 10px 0;
}

.stylish {
	font-weight: bold;
	animation-duration: 3s;
	animation-name: slideinright;
	text-shadow: 2px 2px #222222;
}

.heading {
	font-size: 3em;
	font-weight: 600;
}

/* ================== BACKGROUND COLOR ================== */

.bg-black {
	background-color: #000;
}
.bg-white {
	background-color: #fff;
}

/* ====================================================== */

/* ======================= COLOR ======================== */

.clr-black {
	color: #000;
}
.clr-white {
	color: #fff;
}

/* ====================================================== */

/* ================== WELCOME SECTION =================== */
#welcome-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#welcome-text {
	width: 520px;
}
.welcome-paragraph {
	word-wrap: break-word;
	margin-top: 1.25em;
	letter-spacing: 1px;
}
.welcome-heading {
	font-size: 4rem;
}
.welcome-subheading {
	font-size: 2.5rem;
	margin-top: 0.25em;
}
.welcome-button.tiny-button {
	margin-top: 2em;
	background-color: #ffffff;
	color: #000000;
	border: 1px solid #ffffff;
	transition: background-color 0.5s;
}

.welcome-button.tiny-button:hover {
	background-color: transparent;
	color: #ffffff;
}

/* ====================================================== */

/* ================ FOUNDER SECTION ================ */

#founder-section {
	/* height: 100vh; */
	margin-bottom: 100px;
}

.founder-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.founder-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	justify-content: space-evenly;
	width: 50%;
	height: 1000px;
}

.founder-box.fb-1 {
	background-color: #ffffff;
}
.founder-box.fb-2 {
	background-color: #e5bbaa;
}

.founder-box.fb-1 .founder-body,
.founder-box.fb-2 .founder-head {
	font-family: "Roboto";
	font-size: 0.7em;
	letter-spacing: 1px;
}

.founder-box.fb-1 .founder-body {
	text-align: right;
	width: 400px;
}

.founder-box.fb-2 .founder-head {
	text-align: left;
	width: 500px;
}

.founder-img {
	overflow: hidden;
}

.founder-box.fb-1 .founder-img {
	height: 600px;
	width: 400px;
}

.founder-box.fb-2 .founder-img {
	height: 400px;
	width: 300px;
}

.founder-img img {
	object-fit: cover;
	object-position: center;
	aspect-ratio: 9 / 16;
}

.founder-text {
	margin-bottom: 4px;
}

/* ====================================================== */

/* ==================== SHOW SECTION ==================== */

#show-section {
	/* height: 100vh; */
	margin-bottom: 100px;
}

.show-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.show-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
	justify-content: space-evenly;
	height: 700px;
}

.show-box.sb-1 {
	width: 60%;
	background-color: #c8c8c8;
}
.show-box.sb-2 {
	width: 40%;
	background-color: #ffffff;
}

.show-box.sb-1 .show-body,
.show-box.sb-2 .show-head {
	font-family: "Roboto";
	font-size: 0.7em;
	letter-spacing: 1px;
}

.show-box.sb-1 .show-body {
	text-align: right;
	width: 500px;
}

.show-box.sb-2 .show-head {
	text-align: left;
	width: 500px;
}

.show-img {
	overflow: hidden;
}

.show-box.sb-1 .show-img {
	height: 400px;
	width: 600px;
}

.show-box.sb-2 .show-img {
	height: 400px;
	width: 300px;
}

.show-img img {
	object-fit: cover;
	object-position: center;
}

.show-box.sb-2 .show-img img {
	aspect-ratio: 9 / 16;
}

.show-text {
	margin-bottom: 4px;
}

#show-section-2 .show-box.sb-2 {
	align-items: flex-start;
}

#show-section-2 .show-box.sb-1 .show-img {
	height: 400px;
	width: 500px;
}

#show-section-2 .show-box.sb-2 .show-head {
	display: flex;
	/* align-items: center; */
	justify-content: center;
	flex-direction: column;
	position: relative;
	left: -182px;
	width: 500px;
	height: 250px;
	padding: 20px;
	padding-left: 100px;
	background-color: #a1ffe6;
	z-index: 1;
}

#show-section-2 .show-box.sb-2 .show-body {
	padding-left: 30px;
	position: relative;
	top: -115px;
	font-family: "Roboto";
	font-size: 0.7em;
	letter-spacing: 1px;
}

#show-section-2 .show-text.heading {
	font-size: 2em;
}

/* ====================================================== */

@media screen and (max-width: 1200px) {
	main {
		max-width: 100%;
	}

	form {
		width: 100%;
	}

	label[for="message"] {
		top: 0;
	}

	.flex-boxes .img-box {
		max-width: 48%;
	}

	#welcome-text {
		width: 80%;
	}

	.welcome-heading {
		font-size: 3rem;
	}

	.welcome-subheading {
		font-size: 1.5rem;
	}

	.welcome-paragraph {
		font-size: 0.75em;
	}

	.welcome-section-inner {
		padding: 0 30px;
	}

	.heading {
		font-size: 2em;
		font-weight: 600;
	}

	.tiny-button {
		width: 200px;
	}

	.founder-wrapper,
	.show-wrapper {
		flex-direction: column;
	}
	.show-box.sb-1,
	.show-box.sb-2,
	.founder-box.fb-1,
	.founder-box.fb-2 {
		width: 100%;
	}

	#show-section-2 .show-box.sb-2 .show-head {
		left: 0;
	}

	.show-box.sb-1 .show-body {
		width: 90%;
	}

	.show-box.sb-1 .show-body,
	.show-box.sb-2 .show-head,
	.founder-box.fb-1 .founder-body,
	.founder-box.fb-2 .founder-head {
		font-size: 1em;
	}

	.founder-box.fb-1 .founder-img,
	.show-box.sb-1 .show-img,
	#show-section-2 .show-box.sb-2 .show-head {
		width: 100%;
	}

	.show-box.sb-2 .show-head,
	.show-box.sb-2 .show-head,
	.founder-box.fb-1 .founder-body,
	.founder-box.fb-2 .founder-head {
		width: 90%;
	}

	#show-section-2 .show-box.sb-1 .show-img {
		width: 90%;
		margin: 0 auto;
	}

	.footer {
		padding: 0;
		font-size: 1rem;
	}

	.footer .nav-logo {
		font-size: 0.5em;
	}
}
@media screen and (max-width: 600px) {
	main {
		max-width: 100%;
	}

	form {
		width: 100%;
	}

	label[for="message"] {
		top: 0;
	}

	.flex-boxes .img-box {
		max-width: 100%;
	}

	#welcome-text {
		width: 80%;
	}

	.welcome-heading {
		font-size: 3rem;
	}

	.welcome-subheading {
		font-size: 1.5rem;
	}

	.welcome-paragraph {
		font-size: 0.75em;
	}

	.welcome-section-inner {
		padding: 0 30px;
	}

	.tiny-button {
		width: 200px;
	}

	.heading {
		font-size: 2em;
		font-weight: 600;
	}

	.founder-wrapper,
	.show-wrapper {
		flex-direction: column;
	}
	.show-box.sb-1,
	.show-box.sb-2,
	.founder-box.fb-1,
	.founder-box.fb-2 {
		width: 100%;
	}

	#show-section-2 .show-box.sb-2 .show-head {
		left: 0;
	}

	#show-section-2 .show-box.sb-1 .show-img {
		width: 90%;
	}

	.show-box.sb-1 .show-body {
		width: 90%;
	}

	.show-box.sb-1 .show-body,
	.show-box.sb-2 .show-head,
	.founder-box.fb-1 .founder-body,
	.founder-box.fb-2 .founder-head {
		font-size: 1em;
	}

	.founder-box.fb-1 .founder-img,
	.show-box.sb-1 .show-img,
	#show-section-2 .show-box.sb-2 .show-head {
		width: 100%;
	}

	.show-box.sb-2 .show-head,
	.show-box.sb-2 .show-head,
	.founder-box.fb-1 .founder-body,
	.founder-box.fb-2 .founder-head {
		width: 90%;
	}

	#show-section-2 .show-box.sb-1 .show-img {
		width: 90%;
		margin: 0 auto;
	}

	.footer {
		padding: 0;
		font-size: 1rem;
	}

	.footer .nav-logo {
		font-size: 0.5em;
	}
}
