/* .effect-wrapper {
	text-align: center;
	font-weight: normal;
} */

#typed {
	font-weight: bold;
	color: #00bdff;
}

.cursor {
	display: inline-block;
	background-color: #b0ff95;
	animation: blinker 800ms infinite;
}

.cursor.typing-true {
	animation: none;
}

@keyframes blinker {
	0% {
		background-color: #00aeff;
	}
	50% {
		background-color: transparent;
	}
	100% {
		background-color: #00aeff;
	}
}
